/_ReSharper.SubtitleDownloader
/SubtitleDownloader/bin
/SubtitleDownloaderTests/bin
/SubtitleDownloaderTests/obj
/SubtitleDownloader/obj
/*.user
/Release/*.mpe1
/SubtitleDownloader.suo
/SubtitleDownloader.6.0.ReSharper.user
